# PostgreSQL
DATABASE_URL=postgresql://postgres:'parola01'@localhost:5432/sirobid

# JWT
JWT_SECRET=your-super-secret-key-change-this
JWT_EXPIRES_IN=7d

# Server
PORT=3001
CORS_ORIGIN=http://localhost:5173

# File uploads
UPLOAD_DIR=./uploads
